.auth {
    padding: 10rem;
}

.auth__title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 3.2rem;
}

.auth__alt-link {
    margin-top: 2rem;
}

.auth__alt-link a {
    color: var(--primary);
}